.EndBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Radiance;
  color: white;
  background: url(https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react//home/background4.png)
    no-repeat center / cover;
  height: 30vh;
  width: 100%;
}

.GlobalBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
